html {
    font-size: 14px;
    color: #5AD8C1;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
 
body {
  margin-bottom: 60px; 
}
.btn{
    /* btn_in Home Page */

    position: center;
    resize: 50px;
    
    left: 0%;
    right: 0%;
    top: 25%;
    bottom: 25%;
    background: #5AD8C1;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}
.RegisterPage {
    : before, *:after

{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #feffff;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #5AD8C1;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #5AD8C1;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

    label.light {
        font-weight: 300;
        display: inline;
    }

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}


.sing {
    border-radius: 50px;
}

input {
    border-radius: 22px;
}


.ppp p {
    display: flex;
    align-content: center;
    place-content: center;
}

a {
    color: #5AD8C1;
    font-style: oblique;
    text-decoration: u;
}
}


















#wrapper {
    font-family: Lato;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    background: #F5F5F5;
}

#wrapper #dialog {
    border: solid 1px #ccc;
    margin: 10px auto;
    padding: 20px 30px;
    display: inline-block;
    box-shadow: 0 0 4px #ccc;
    background-color: #FAF8F8;
    overflow: hidden;
    position: relative;
    max-width: 450px;
}

#wrapper #dialog h3 {
    /* desc */
    width: 200px;
    height: 42px;
    left: calc(50% - 200px/2 + 0.5px);
    top: calc(50% - 42px/2 - 204px);
    /* 15_Text_Reg */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 136%;
    /* or 20px */
    text-align: center;
    /* Grey 2 */
    color: #97ADB6;
}

#wrapper #dialog span {
    /* nav_text */
    width: 237px;
    height: 20px;
    left: calc(50% - 237px/2);
    top: 35px;
    /* Heading 1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Black */
    color: #3E4958;
}

#wrapper #dialog #form {
    max-width: 240px;
    margin: 25px auto 0;
}

#wrapper #dialog #form input {
    margin: 0 1px;
    text-align: center;
    line-height: 2px;
    font-size: 35px;
    border: solid 1px #ccc;
    outline: none;
    transition: all 0.2s ease-in-out;
    border-radius: 1px;
    width: 40px;
    left: calc(50% - 40px/2);
    top: calc(50% - 2px/2 + 23px);
    border: 1px solid #5AD8C1;
}

#wrapper #dialog #form input:focus {
    border-color: purple;
    box-shadow: 0 0 5px purple inset;
}

#wrapper #dialog #form input::-moz-selection {
    background: transparent;
}

#wrapper #dialog #form input::selection {
    background: transparent;
}

#wrapper #dialog #form button {
    margin: 30px 0 50px;
    width: 100%;
    padding: 7px;
    background-color: #835fc6;
    border: none;
    text-transform: uppercase;
    /* btn_keyboard */
    left: 7.47%;
    right: 6.4%;
    top: 56.03%;
    bottom: 37.81%;
    border-radius: 15px;
    /* btn_text */
    height: 24px;
    left: 57.51px;
    right: 59.92px;
    top: calc(50% - 24px/2);
    /* Heading 2 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 156% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    /* btn_bg */
    height: 40px;
    left: 0px;
    right: 0px;
    top: calc(50% - 60px/2);
    background: #5AD8C1;
}

#wrapper #dialog button.close {
    border: solid 8px;
    border-radius: 30px;
    line-height: 19px;
    font-size: 120%;
    width: 22px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#wrapper #dialog div {
    position: relative;
    z-index: 1;
}

div {
    position: relative;
    z-index: 1;
}

#wrapper #dialog img {
    bottom: -70px;
    right: -63px;
}
