
        <a class="btn1" asp-area="Identity" asp-page="/Account/Register">Register</a>
    
        <a class="btn2" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <figure class="logo">
  <img src="/lib/logo.png" alt="an image">
</figure>
    