


    <img src="/lib/logopng.png" alt="an image" style="width:100%">


<div class="flex-parent jc-center">
    <a class="btn1" asp-area="Identity" asp-page="/Account/Register">Register</a>
</div>

<div class="flex-parent jc-center">
    <a class="btn2" asp-area="Identity" asp-page="/Account/Login">
        Login
    </a>
</div>



