


    <img src="/lib/logopng.png" alt="an image" style="width:100%">


<div class="flex-parent jc-center">
    <button class="btn1" asp-area="Identity" asp-page="/Account/Register">Register</button>
</div>

<div class="flex-parent jc-center">
    <button class="btn2" asp-area="Identity" asp-page="/Account/Login">
        Login
    </button>
</div>



