@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>our app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
   html, body,#map{
      element.style {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;

   }
   
   {

    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    touch-action: none;
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;

   } 
    </style>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=Your API key&lang=en_US" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){ 
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 10
            });
         }
    </script>
</head>

<body>
    <div id="map" style="width: 900px; height: 500px"></div>
</body>

</html>