@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div id="wrapper">

        <div id="dialog">
            <span> Verify code </span>

            <h3>A code has been sent to <br>+7 922 333-44-55 via SMS</h3>

            <form action="" method="post">
                <div id="form">
                    <div id="number">

                        <input type="number" name="num1" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                        <input type="number" name="num2" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                        <input type="number" name="num3" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                    </div>
                    <div id="ResendCode">
                        <a href="#">
                            <h3>Resend code</h3>
                        </a>


                    </div>

                    <div id="call">
                        <button class="btn btn-primary btn-embossed">
                         Press here to get a call</button>
                    </div>
                    <div>
                        <div id="send">
                            <input type="submit" value="Send" />
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </div>
    </body>


</html>